/* Estilos para la carta */
.card {
    width: 90%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    object-fit: cover;

}

/* Estilos para la imagen dentro de la carta */
.card img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
  
/* Estilos para el contenido dentro de la carta */
.card .content {
    padding: 20px;
}



