.logo{
    width: 1px;
    display: flex;
    color-scheme: none
  ; 
  
  }
  img{
    width:100%
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: -4px 13px 23px 0px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 120px 120px 120px 120px;
  
  }
  /*  */
  .search {
    width: 50%;
    background-color: rgb(243, 238, 238);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left:10px ;
  }
  input{
    width: 100%;
  }
  input[type=text] {
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: rgb(243, 238, 238);
  
  }
  
  button {
   background-color: transparent; 
   border:none; 
   cursor:pointer; 
  }
  
  img {
   width :20px; 
  }
  
  
  svg>path {
    width:30px
  }
